body { /* Se configura el background */
    background-color: darkgray;
    margin-top: 0;
    margin-bottom: 0;
}

/* Inicio de la configuracion de estilos de la interfaz del login */

.login fieldset{
    margin: 0 auto;
    margin-top: 100px;
    width: 1000px;
    height: 500px;
    text-align: center;
    background: white;
}

.contenido{
    display: none; /* Se oculta el contenido principal */
}

.login h2, label{
    color: #5c5a5a;
    font-weight: 600;
}

.login h2{
    margin-top: 120px;
    font-size: 40px;
    -webkit-text-stroke-width: 0.65px;
    -webkit-text-stroke-color: #000;
    text-align: center;
}

.login label{
    width: 100px;
    display: inline-block;
}

.login button{
    background-color: gray;
    padding: 10px 20px;
    margin-left: 70px;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
}

.login input{
    border-radius: 100px;
    text-align: center;
    padding: 3px 15px;
    background-color: rgb(210, 205, 205);
}

/* Fin */

/* Inicio de la configuracion de estilos del la parte superior de la pagina web */

.inicio {
    text-align: justify;
    color: #6b6b6b;
    margin-top: 50px;
}

.inicio h1{
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 40px;
    margin-bottom: 50px;
}

.inicio p{
    margin-left: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.inicio a{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 265px;
    margin-top: 30px;
    color: #383838;
}

.fieldset #outerfieldset{
    margin: 0 auto;
    width: 1000px;
    height: 98vh;
    background-color: whitesmoke;
    border: none;
}

/* Fin */

/* Inicio de la configuracion de estilos de la parte de ingreso de datos y los botones*/

.clientes label{
    display: inline-block;
    margin-left: 45px;
    width: 75px;
    color: #000;
}

.clientes input{
    border-radius: 100px;
    text-align: center;
    padding: 3px 15px;
    background-color: #dbd9d9;    
}

.clientes input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.botones{
    text-align: center;
    margin-right: 70px;
}

.botones button{
    background-color: rgb(176, 174, 174);
    padding: 10px 20px;
    margin-left: 70px;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
}

/* Fin */

/* Inicio de la configuracion de estilos de la tabla */

.tabla{
    width: 80%;
    height: 85px;
    margin-top: auto;
}

.tabla fieldset{
    margin-left: 90px;
    width: 100%;
    background-color: rgb(177, 177, 177);
    border-radius: 10px;
    margin-bottom: 25px;
}

.tabla table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    background-color: #c7c7c7;
}

.tabla caption{
    color: rgb(80, 80, 80);
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
}

.tabla th,td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

/* Fin */